.landing {
    
    width: 100%;
    background-color: #F8F7FF;
    /* display: flex;
    flex-direction: column; */

    /* margin-left: 20%;  */
}
.container{
    margin-top: 5%;
    
   
}
/* .card{

} */
/* .genrecard{
 position: relative;
} */
